/**
 * CSS is how you can add style to your website, such as colors, fonts, and
 * positioning of your HTML content. Much of what's here is self-explanitory,
 * but I'll give context to some of the less well-known parameters/functions.
 */

/**
 * @import lets you break up your CSS into multiple files; I use it here to
 * seperate the reset settings from the rest of the styles.
 */
@import "/css/reset.css";

/* FONTS */

header,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Cherry Cream Soda", cursive;
  /**
   * Todo: Write why we use rem units and set them throughout the stylesheet
   * https://www.youtube.com/watch?v=N5wpD9Ov_To
   */
  margin-bottom: 1rem;
}

p,
.archiveTable {
  font-family: "Open Sans", sans-serif;
  margin-bottom: .75rem;
}

/* GLOBAL */

/**
 * :root targets the root element of the document; in practice, it targets the
 * `<html>` tag, just with a higher specificity than calling it directly. It's
 * most commonly used for defining custom variables, which you can see below!
 * (https://developer.mozilla.org/en-US/docs/Web/CSS/:root)
 */
:root {
  /**
   * Custom variables allow us to set repeating values in one place. In this
   * case, we're defining the maximum width of our pages.
   * (https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties)
   *
   * Also, check out the `min()` property: it picks whatever is the smallest of
   * the two given properties as the width! For more details on it and similar
   * properties, check out Kevin Powell's video: https://youtu.be/U9VF-4euyRo
   */
  --pg-width: min(64rem, 90%);
}

/* universal background color */
body {
  background-color: #da5437;
}

/* link colors */
a {
  color: #000000;
}
a:hover {
  color: #da5437;
}

/* HEADER */

header {
  /**
   * For those unfamiliar with flexbox, check out this CSS Tricks article:
   * https://css-tricks.com/snippets/css/a-guide-to-flexbox/
   */
  display: flex;
  flex-direction: column;
  align-items: center;
}
header img {
  width: 500px;
  max-width: 98%;
}
header nav {
  background-color: #ffffff;
  outline: 3px solid #000000;
  font-size: 20px;
  width: 98%;
  margin: auto;
  text-align: center;
}

/* FOOTER */

footer {
  color: #421a1a;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 12px;
}

footer p {
  margin: auto;
}

/* COMIC */

.comic {
  margin-bottom: 2rem;
}

.comic h1 {
  text-align: center;
  margin: 1rem 0;
}

/* style comic page image */
#comicPage {
  margin: 0 auto;
  /**
   * Here is our first example of calling a CSS variable, using the `var()`
   * property to call `--pg-width`!
   */
  width: var(--pg-width);
}

/* style nav button images */
.comicNav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  gap: 10px;
}
.comicNav img {
  width: 90px;
}

/* style author notes */
.authorNotes {
  background-color: #ffffff;
  outline: 3px solid #000000;
  margin: auto;
  padding: 3px;
  padding-top: 0px;
  width: var(--pg-width);
  font-size: 1.125rem;
}

/* SUBPAGES */

.subPage {
  width: var(--pg-width);
  max-width: 98%;
  background-color: #ffffff;
  outline: 3px solid #000000;
  margin: 1rem auto 0;
  padding: 0px 12px 12px;
}

.subPage:not(.archivePage) {
  text-align: center;
}

/* archive */
.chapter {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.25rem;
}
.chapter img {
  height: 4rem;
}
.chapter h3 {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

/* character page */
.characters {
  /**
   * For those unfamiliar with grid, check out this CSS Tricks article:
   * https://css-tricks.com/snippets/css/complete-guide-grid/
   */
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}
.characters div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.characters img {
  width: 100%;
}