---
layout: layouts/page.liquid
title: Archive
---
<!-- Person: Writing sections of the archive page  -->
<h2>Chronological Order</h2>
{% render 'chapter.liquid', thumbnails: true, collection: collections.comic %}
<h2>"Latest First" Order</h2>
{% render 'chapter.liquid', thumbnails: true, collection: collections.comic | reverse %}
<h2>Or, divide it into chapters/arcs</h2>
<h2>(You can also turn off thumbnails)</h2>
<h2>Chapter 1</h2>
{% render 'chapter.liquid', thumbnails: false, collection: collections.chapter1 %}
<h2>Chapter 2</h2>
{% render 'chapter.liquid', thumbnails: false, collection: collections.chapter2 %}
<h2>Chapter 3</h2>
{% render 'chapter.liquid', thumbnails: false, collection: collections.chapter3 %}
<h2>Chapter 4</h2>
{% render 'chapter.liquid', thumbnails: false, collection: collections.chapter4 %}