---
title: Characters
layout: layouts/page.liquid
---
<!-- Geno: this character page kind of sucks, its more of an example of the kinds of supplementary pages you can potentially add-->

<p>All of these sub pages are just supposed to be examples of what you could do, you're definitely encouraged to mess around with them and come up with something better</p>
<div class="characters">
  <!-- Teena -->
  <img
    src="/img/characters/teena.png"
    alt="Teena Merry"
    class="clearfix rightPic" />
  <div>
    <h2>Teena Merry</h2>
    <p>She's just your average everyday teenage girl! Reading magazines, chasing boys, you know! girl stuff!</p>
  </div>
  <!-- Pipsie -->
  <img
    src="/img/characters/pipsie.png"
    alt="Pipsie Squeakie"
    class="clearfix rightPic" />
  <div>
    <h2>Pipsie Squeakie</h2>
    <p>Teena's partner in crime! She has short black hair also which is cool</p>
  </div>
  <!-- Gwendolyn -->
  <img
    src="/img/characters/gwendolyn.png"
    alt="Gwendolyn"
    class="clearfix rightPic" />
  <div>
    <h2>Gwendolyn</h2>
    <p>A precocious, smart mouthed little girl from across the street that Teena and Pipsie like to hang out with. Teena's way into her older brother.</p>
  </div>
  <!-- Majima -->
  <img
    src="/img/characters/majima.png"
    alt="Goro Majima"
    class="clearfix rightPic" />
  <div>
    <h2>Goro Majima</h2>
    <p>After losing his eye and the trust of his sworn brother in a botched assassination, Majima clawed his way out of debt and through the ranks of the Yakuza to become Captain of the Shimano Family, where his ferocity and unpredictability in battle earned him the title "The Mad Dog of Shimano". He's now the patriarch of the Majima Family, a direct subsidiary of the Tojo Clan.</p>
  </div>
</div>