---
layout: layouts/base.liquid
---
{% comment %}
- Similar to `strip.liquid` layout; check that out for further details.
- Talk a bit about how 11ty collections work; point to documentation
{% endcomment %}{% assign latest = collections.comic | last %}
<div class="comic">
  {% if latest.data.title %}
    <h1>{{ latest.data.title }}</h1>
  {% endif %}
  {% render 'comic.liquid', collection: collections.comic, page: latest.page, images: latest.data.images, alt: latest.data.alt %}
</div>
{% unless latest.content == "" %}
  <div class="authorNotes">
    <h2>Author Notes</h2>
    {{ latest.content }}
  </div>
{% endunless %}