{% comment %}
This 
{% endcomment %}
{% for item in collection -%}
  <div class="chapter">
    {%# If `thumbnails` is true, display the page's thumbnail %}
    {% if thumbnails -%}
      <img src="{{ item.data.thumb }}" alt="Thumbnail for {{ item.data.title }}">
    {%- endif %}
    <h3>
      <a href="{{ item.url }}">{{ item.data.title }}</a>
    </h3>
  </div>
{%- endfor %}