{% comment %}
give context: how work
https://www.11ty.dev/docs/filters/collection-items/
{% endcomment %}
{% assign current = collection | getCollectionItem: page %}
{% assign first = collection | first %}
{% assign previous = collection | getPreviousCollectionItem: page %}
{% assign next = collection | getNextCollectionItem: page %}
{% assign last = collection | last %}

<div class="comicNav">
  {% if current != first %}
    <a href="{{ first.url }}#comicPage"><img src="/img/comicnav/nav_first.png" alt="First"></a>
  {% endif %}
  {% if previous %}
    <a href="{{ previous.url }}#comicPage"><img src="/img/comicnav/nav_previous.png" alt="Previous"></a>
  {% endif %}
  {% if next %}
    <a href="{{ next.url }}#comicPage"><img src="/img/comicnav/nav_next.png" alt="Next"></a>
  {% endif %}
  {% if current != last %}
    <a href="{{ last.url }}#comicPage"><img src="/img/comicnav/nav_last.png" alt="Last"></a>
  {% endif %}
</div>