<!--
The site's header is handled in this include, so  
you don't have to copy/paste it onto every page
-->
<header>
  <a href="/index/"><img src="/img/logo.png" alt="" /></a>

  <nav>
    <a href="/index/">HOME</a>
    |
    <a href="/archive/">ARCHIVE</a>
    |
    <a href="/about/">ABOUT</a>
    |
    <a href="/characters/">CHARACTERS</a>
  </nav>
</header>