<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!---->
    <title>{{ metadata.title }}
      {%- if title %}
        | {{ title }}
      {% endif %}
    </title>
    <link href="/css/style.css"
      rel="stylesheet"
      type="text/css"
      media="all" />
    <!-- Fonts are being sourced from Google Fonts (https://fonts.google.com/) -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Cherry Cream Soda -->
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&display=swap" rel="stylesheet">
    <!-- Open Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    {% render 'header.liquid' %}
    <main>{{ content }}</main>
    {% render 'footer.liquid' %}
  </body>
</html>