<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--
    For data that affects the whole site (say, metadata that describes it), we
    can add global data to 11ty's data folder! Feel free to expand the included
    `metadata.json` file with any other information you deem necessary!
    (https://www.11ty.dev/docs/data-global/)
    -->
    <title>{{ metadata.title }}
      {%- if title %}
        | {{ title }}
      {% endif %}
    </title>
    <link href="/css/style.css"
      rel="stylesheet"
      type="text/css"
      media="all" />
    <!-- Fonts are sourced from Google Fonts (https://fonts.google.com/) -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Cherry Cream Soda -->
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&display=swap" rel="stylesheet">
    <!-- Open Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    {%# We use `render` tags to include other liquid files in our template %}
    {% render 'header.liquid' %}
    {% comment %}
    Since this file is used as a layout, we use the `content` variable to mark
    where the contents of pages that use this layout go!
    (https://www.11ty.dev/docs/layouts/)
    {% endcomment %}
    <main>
      <!-- Delete this message -->
      <div class="subPage">
        <h2>Hold up!</h2>
        <p>This site isn't
          <em>actually</em>
          using
          <a href="https://geno7.neocities.org/">Geno7's</a>
          fantastic
          <a href="https://rarebit.neocities.org/">Rarebit</a>
          template. Rather, it's using a similar template that was built using
          <a href="https://www.11ty.dev/">Eleventy</a>, a static site generator! Check out the
          <a href="https://github.com/covalria-sow/eleventy-rarebit-template">GitHub</a>
          for more info!</p>
        <p>If you're reading this after successfully setting up the template locally, there's a few things left for you to do:</p>
        <ul>
          <li>Update
            <code>_data/metadata.js</code>
            with your webcomic's title.</li>
          <li>(Optional) Edit
            <code>eleventy.config.js</code>
            with your
            <a href="https://www.11ty.dev/docs/config/">configuration preferences</a>.</li>
          <li>Delete this message from
            <code>_includes/layouts/base.liquid</code>.</li>
          <li>(Optional) Adjust
            <code>robots.txt</code>
            to your preferences.</li>
        </ol>
      </div>
      <!-- Stop deleting -->

      {{ content }}
    </main>
    {% render 'footer.liquid' %}
  </body>
</html>